{% if incident != null %}
    {% set status = incident.status %}
{% else %}
    {% set status = 6 %}
{% endif %}
<div class="row" style="margin-top: 10px;margin-right: -30px;margin-left: -30px;">
    <div class="col">
        <div class="card" style="border-radius: 0px;">
            <div class="card-body" style="padding-bottom: 7px;">
                <div class="row row-fluid">
                    <div class="col d-inline-flex">
                        <h4 style="font-size: 22.5px;"><a class="d-inline-flex" href="#server-details-{{ id }}" data-toggle="collapse" style="height: 22.5px;">
                                <p><i class="fa fa-arrow-circle-down" style="font-size: 22.5px;padding-right: 10px;color: #8cd600;"></i></p>
                            </a>{{ name }}</h4>
                    </div>
                    <div class="col col-md-auto" style="text-align: right;"><i class="fa fa-circle" style="font-size: 22.5px;color: var(--{% if status == 6 %}teal{% elseif status == 5 %}warning{% else %}danger{% endif %});"></i></div>
                </div>
                <div id="server-details-{{ id }}" class="collapse">
                    <div id="loading-{{ id }}" style="margin-top: 20px;">{% include twigFolder ~ 'loading.xml.twig' %}</div>
                    <div id="server-details-loaded-{{ id }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>