{% for info in infos %}
    {% include twigFolder ~ 'info.html.twig' with {'warning': info.warning, 'error': info.error} %}
{% endfor %}
<h4 class="text-center" style="margin-top: 40px;">{{ language.onlinePerDay }}</h4>
<div class="chart-container" style="height: 300px;margin-top: 20px;"><canvas id="chart-uptime-{{ id }}"></canvas></div>
<h4 class="text-center" style="margin-top: 40px;">{{ language.responseTime }}</h4>
<div class="chart-container" style="height: 300px;margin-top: 20px;"><canvas id="chart-response-{{ id }}"></canvas></div>
<div style="margin-top: 40px;">
    <h4 class="text-center">{{ language.incidents }}</h4>
    {% if incidents is defined %}
        <div class="table-responsive table-hover table-borderless table-condensed">
            <table class="table">
                <thead>
                <tr>
                    <th class="col col-md-auto text-nowrap">{{ language.startedAt }}</th>
                    <th class="col col-md-auto text-nowrap">{{ language.endedAt }}</th>
                    <th class="col">{{ language.reason }}</th>
                    <th class="text-right col col-md-auto text-nowrap">{{ language.status }}</th>
                </tr>
                </thead>
                <tbody>
                {% for incident in incidents %}
                    <tr>
                        <td class="raw-unix-timestamp text-nowrap">{{ incident.createdAt }}</td>
                        <td class="{% if incident.endedAt != 0 %}raw-unix-timestamp{% endif %} text-nowrap">{% if incident.endedAt != 0 %}{{ incident.endedAt }}{% else %}<br>{% endif %}</td>
                        <td>{{ incident.reason }}</td>
                        <td class="text-right text-nowrap">{{ language.incidentDescription[incident.status] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">{{ language.noIncidentsFound }}</p>
    {% endif %}
</div>
<script>
  {% include twigFolder ~ 'charts.js.twig' with {'incidents': incidents, 'uptimePercent': uptimePercent, 'checks': checks, 'language': language, 'config': config, 'id': id} %}
</script>
