<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ language.pageTitle }}</title>
    <meta name="twitter:image" content="assets/img/status.png">
    <meta name="twitter:title" content="{{ language.pageTitle }}">
    <meta property="og:image" content="assets/img/server_down.png">
    <meta property="og:type" content="website">
    <meta name="description" content="{{ language.pageDescription }}">
    <meta property="og:description" content="{{ language.pageDescription }}">
    <meta property="og:title" content="s.Status">
    <meta name="twitter:description" content="{{ language.pageDescription }}">
    <meta name="twitter:card" content="summary">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/logo-512.png">
    <link rel="icon" type="image/png" sizes="256x256" href="assets/img/logo-256.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body class="d-flex flex-column h-100" style="background: #282d32;padding-top: 20px;padding-bottom: 20px;padding-right: 20%;padding-left: 20%;">
    <main class="flex-grow-1">
        <div class="row">
            <div class="col">
                <h1>{{ language.pageTitle }}<br></h1>
            </div>
            <div class="col">
                <div class="d-lg-flex justify-content-lg-end align-items-lg-end" style="width: 100%;height: 100%;">
                    <p id="updateCounter" class="text-right">{{ language.nextUpdateIn|replace({'%seconds%': nextUpdateIn}) }}</p>
                </div>
            </div>
        </div>
        <div>
            {% for check in statusChecks %}
            {% include twigFolder ~ 'card.html.twig' with {'id': check.id, 'name': check.name, 'incident': incidents[check.id], 'check': check} %}
            {% endfor %}
        </div>
    </main>
    <footer style="margin-top: 20px;">
        <p style="text-align: center;">
            <div class="dropdown" style="text-align: center;"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">Language - {{ language.languageName }}</button>
                <div class="dropdown-menu">
                    {% for entry in lanugages %}
                        <a class="dropdown-item" href="javascript:void(0);" onclick="setLanguage('{{ entry.key }}');">entry.value</a>
                    {% endfor %}
                </div>
            </div>
            <a href="https://github.com/scolastico-dev/s.Status">s.Status</a> by&nbsp;<a href="https://scolasti.co/">scolastico</a>
            {% for button in pageButtons %}
                - <a href="{{ button.value }}">{{ language.additionalLanguageData[button.key] }}</a>
            {% endfor %}
        </p>
    </footer>
    <script>
      const unknownErrorTitle = "{{ language.unknownErrorTitle }}";
      const unknownError = "{{ language.unknownError }}";
      const toManyRequestsTitle = "{{ language.toManyRequestsTitle }}";
      const toManyRequests = "{{ language.toManyRequests }}";
      const nextUpdateInLanguage = "{{ language.nextUpdateIn }}";
      const nextUpdateIn = {{ nextUpdateIn }};
    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="assets/js/script.min.js"></script>
    <script src="assets/js/async.js"></script>
</body>

</html>